Repository pactus-project/pactus, pull requests merged in 2023-10, with the labels that each got.

#726 chore: disabling ImportPrivateKey function in wallet
  wallet/wallet.go
  wallet/wallet_test.go
Labels: Wallet

#724 docs(metrics): updating with new ports and add some notes
  docs/metrics.md
Labels: Documentation, metrics

#733 fix(logger): invalid level parsing error
  config/example_config.toml
  util/logger/config.go
  util/logger/logger.go
  util/logger/logger_test.go
Labels: Log

#731 feat: implementing pip-7
  sync/bundle/message/hello.go
  sync/bundle/message/hello_test.go
  sync/handler_hello.go
  sync/handler_hello_test.go
Labels: enhancement

#732 feat(logger): short stringer for loggers
  consensus/commit.go
  consensus/cp_mainvote.go
  consensus/precommit.go
  consensus/prepare.go
  consensus/propose.go
  network/gossip.go
  network/notifee.go
  network/stream.go
  state/state.go
  sync/firewall/firewall.go
  sync/handler_blocks_request.go
  sync/handler_blocks_response.go
  sync/handler_hello.go
  sync/handler_hello_ack.go
  sync/sync.go
  types/tx/payload/bond.go
  types/tx/payload/bond_test.go
  types/tx/payload/sortition.go
  types/tx/payload/sortition_test.go
  types/tx/payload/transfer.go
  types/tx/payload/transfer_test.go
  types/tx/payload/withdraw.go
  types/tx/tx_test.go
  util/logger/logger.go
  util/logger/logger_test.go
Labels: Log

#757 feat: create new validator address (CLI and GUI)
  cmd/gtk/assets/ui/dialog_wallet_create_address.ui
  cmd/gtk/dialog_wallet_create_address.go
  cmd/gtk/model_wallet.go
  cmd/gtk/widget_wallet.go
  cmd/wallet/address.go
  cmd/wallet/create.go
  cmd/wallet/history.go
  cmd/wallet/recover.go
  wallet/client.go
Labels: 🙋 Bounty claim

#780 feat(gui): display network ID
  cmd/gtk/assets/ui/widget_node.ui
  cmd/gtk/widget_node.go
  node/node.go
Labels: 🙋 Bounty claim
