Repository pactus-project/pactus, pull requests merged in 2023-11, with the labels that each got.

#794 chore: update libp2p version to latest
  go.mod
  go.sum
  network/mdns.go
Labels: p2p

#809 chore(network): updating libp2p to latest version
  go.mod
  go.sum
  network/mdns.go
Labels: enhancement, p2p

#818 chore(logeer): change colorful logger time-format
  util/logger/logger.go
Labels: enhancement, Log

#820 feat: adding jwmdev bootstrap node to config
  config/config.go
Labels: p2p, Sync

#827 test(mdns): fix MDNS test issue
  network/mdns_test.go
Labels: bug, p2p, test

#822 feat(logger): adding rotate log file after days, compress and maxgae for logger config
  config/example_config.toml
  util/logger/config.go
  util/logger/logger.go
Labels: Log
