Repository pactus-project/pactus, pull requests merged in 2024-08, with the labels that each got.

#1434 fix(gtk): width size of listbox and download button
  cmd/gtk/startup_assistant.go
Labels: Pactus-GUI

#1463 feat(genesis): separating chain param from genesis param
  cmd/cmd.go
  consensus/consensus_test.go
  genesis/genesis.go
  genesis/genesis_params.go
  genesis/genesis_test.go
  genesis/testnet.json
  node/node_test.go
  sandbox/interface.go
  sandbox/mock.go
  sandbox/sandbox.go
  sandbox/sandbox_test.go
  state/facade.go
  state/mock.go
  state/param/param.go
  state/state.go
  state/state_test.go
  sync/firewall/firewall_test.go
  tests/main_test.go
Labels: Mainnet

#1471 feat(daemon): warn at pruning a prune node attempt
  cmd/daemon/prune.go
Labels: Pactus-Daemon

#1470 feat(gtk): adding IsPrune to node widget
  cmd/gtk/assets/ui/widget_node.ui
  cmd/gtk/widget_node.go
Labels: Pactus-GUI

#1472 docs(gtk): adding GTK GUI development guide
  CONTRIBUTING.md
  docs/gtk-gui-development.md
Labels: Documentation, Pactus-GUI

#1484 feat(wallet): supporting Ed25519 curve in wallet
  cmd/wallet/address.go
  crypto/address.go
  crypto/address_test.go
  types/tx/errors.go
  types/tx/tx.go
  types/tx/tx_test.go
  util/testsuite/testsuite.go
  wallet/vault/vault.go
  wallet/vault/vault_test.go
  wallet/wallet.go
  wallet/wallet_test.go
Labels: enhancement, Wallet

#1491 feat(wallet): upgrade wallet
  cmd/wallet/address.go
  wallet/errors.go
  wallet/store.go
  wallet/store_test.go
  wallet/testdata/unsupported_wallet
  wallet/testdata/wallet_version_1
  wallet/vault/vault.go
  wallet/vault/vault_test.go
  wallet/wallet.go
  wallet/wallet_test.go
Labels: enhancement, Wallet
