Repository pactus-project/pactus, pull requests merged in 2024-07, with the labels that each got.

#1404 feat(state): prune block on commit
  genesis/genesis.go
  state/state.go
  state/state_test.go
  store/block.go
  store/block_test.go
  store/config.go
  store/interface.go
  store/mock.go
  store/store.go
  tests/main_test.go
  types/block/block.go
  types/block/block_test.go
Labels: Sync

#1397 feat(pip): implement PIP-23
  wallet/manager.go
  wallet/wallet.go
  wallet/wallet_test.go
  www/grpc/buf/grpc-gateway.config.yaml
  www/grpc/gateway.go
  www/grpc/gen/dart/utils.pb.dart
  www/grpc/gen/dart/utils.pbenum.dart
  www/grpc/gen/dart/utils.pbjson.dart
  www/grpc/gen/dart/utils.pbserver.dart
  www/grpc/gen/dart/wallet.pb.dart
  www/grpc/gen/dart/wallet.pbjson.dart
  www/grpc/gen/dart/wallet.pbserver.dart
  www/grpc/gen/docs/grpc.md
  www/grpc/gen/docs/json-rpc.md
  www/grpc/gen/go/utils.cobra.pb.go
  www/grpc/gen/go/utils.pb.go
  www/grpc/gen/go/utils.pb.gw.go
  www/grpc/gen/go/utils_grpc.pb.go
  www/grpc/gen/go/utils_jgw.pb.go
  www/grpc/gen/go/wallet.cobra.pb.go
  www/grpc/gen/go/wallet.pb.go
  www/grpc/gen/go/wallet.pb.gw.go
  www/grpc/gen/go/wallet_grpc.pb.go
  www/grpc/gen/go/wallet_jgw.pb.go
  www/grpc/gen/java/pactus/utils/UtilsGrpc.java
  www/grpc/gen/java/pactus/utils/UtilsOuterClass.java
  www/grpc/gen/java/pactus/wallet/WalletGrpc.java
  www/grpc/gen/java/pactus/wallet/WalletOuterClass.java
  www/grpc/gen/js/utils_grpc_pb.js
  www/grpc/gen/js/utils_pb.js
  www/grpc/gen/js/wallet_grpc_pb.js
  www/grpc/gen/js/wallet_pb.js
  www/grpc/gen/python/utils_pb2.py
  www/grpc/gen/python/utils_pb2_grpc.py
  www/grpc/gen/python/wallet_pb2.py
  www/grpc/gen/python/wallet_pb2_grpc.py
  www/grpc/gen/rust/pactus.rs
  www/grpc/gen/rust/pactus.serde.rs
  www/grpc/gen/rust/pactus.tonic.rs
  www/grpc/proto/utils.proto
  www/grpc/proto/wallet.proto
  www/grpc/server.go
  www/grpc/server_test.go
  www/grpc/swagger-ui/pactus.swagger.json
  www/grpc/utils.go
  www/grpc/utils_test.go
  www/grpc/wallet.go
  www/jsonrpc/server.go
Labels: Wallet

#1420 feat(grpc): adding is pruned and pruning height in blockchain info API
  state/facade.go
  state/mock.go
  state/state.go
  store/interface.go
  store/mock.go
  store/store.go
  www/grpc/blockchain.go
  www/grpc/gen/dart/blockchain.pb.dart
  www/grpc/gen/dart/blockchain.pbjson.dart
  www/grpc/gen/dart/network.pb.dart
  www/grpc/gen/dart/network.pbjson.dart
  www/grpc/gen/docs/grpc.md
  www/grpc/gen/docs/json-rpc.md
  www/grpc/gen/go/blockchain.pb.go
  www/grpc/gen/go/network.pb.go
  www/grpc/gen/java/pactus/blockchain/BlockchainOuterClass.java
  www/grpc/gen/java/pactus/network/NetworkOuterClass.java
  www/grpc/gen/js/blockchain_pb.js
  www/grpc/gen/js/network_pb.js
  www/grpc/gen/python/blockchain_pb2.py
  www/grpc/gen/python/network_pb2.py
  www/grpc/gen/rust/pactus.rs
  www/grpc/gen/rust/pactus.serde.rs
  www/grpc/proto/blockchain.proto
  www/grpc/proto/network.proto
  www/grpc/swagger-ui/pactus.swagger.json
  www/http/blockchain.go
  www/http/network_test.go
Labels: www
